body{
    background-color:powderblue;
    
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 200;
}
ul{
    font-size: large;
    text-decoration: underline;
}
h1{
    font-size:xx-large;
    font-weight:400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: blue;
}